set default=0
set timeout=5

insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod ext2
insmod all_video
insmod gfxterm
insmod search
insmod search_fs_file
insmod search_label

search --no-floppy --set=root --file /live/vmlinuz

set gfxmode=1920x1080,1280x720,auto
set gfxpayload=keep
terminal_output gfxterm

menuentry "Eclipse OS v1.0 (Default - Plasma X11)" {
    linux /live/vmlinuz boot=live noautologin quiet splash loglevel=3 systemd.show_status=0 rd.udev.log_level=3 vt.global_cursor_default=0 acpi_enforce_resources=lax pci=noaer plymouth.ignore-serial-consoles components username=eclipse hostname=eclipse-os live-media-path=/live
    initrd /live/initrd.img
}

menuentry "Eclipse OS v1.0 (Verbose Text Console Boot)" {
    linux /live/vmlinuz boot=live noautologin acpi_enforce_resources=lax pci=noaer components username=eclipse hostname=eclipse-os live-media-path=/live
    initrd /live/initrd.img
}

menuentry "Eclipse OS v1.0 (Safe Graphics - nomodeset)" {
    linux /live/vmlinuz boot=live noautologin nomodeset xforcevesa plymouth.enable=0 acpi_enforce_resources=lax components username=eclipse hostname=eclipse-os live-media-path=/live
    initrd /live/initrd.img
}

menuentry "Eclipse OS v1.0 Direct Disk Installer" {
    linux /live/vmlinuz boot=live acpi_enforce_resources=lax components installer username=eclipse hostname=eclipse-os live-media-path=/live
    initrd /live/initrd.img
}
